

<tbody>
	<tr>
		<td style="padding:40px 0  0 0;">
			<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

				<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Reset Your Password</h2>

				<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">To reset the password for the App account associated with your email, click on the button below. If you don't want to reset your password, please disregard this email.

				<br>
				<br>
				<a style="background:#E86537;color:#fff;padding:10px" href="http://{{ publicUrl }}{{ resetUrl }}">Reset</a>

				<br>
				<br>
				App!. Enjoy!
				<br>
			</p>
		</td>
	</tr>
</tbody>

