{% include 'profile/header.volt' %}
<div class="row">
        {% for i in 1..10 %}
            <div class="col-md-4" style="margin-top: 20px">

                <div class="card">
                    <a href="/profile/fmacek"><img class="card-img-top" src="https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png" alt="Card image cap"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="/profile/fmacek">Filip Macek</a></h5>
                        <p class="card-text">Lorem ipsum  dolor sit amet.</p>
                        <span class="badge badge-dark">12 přátel</span>
                        <span class="badge badge-dark">27 příspěvků</span>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>