{% include 'profile/header.volt' %}


<div class="row">
    <div class="col-md-12" style="margin-top: 20px">
        {% for i in 1..10 %}
            <div class="row">
                <div class="col-md-1 text-center">
                    <a href="/profile/fmacek"><img
                                src="https://vistana-web-static.s3.amazonaws.com/vistana-web/assets/img/profile/production/profile-pic-medium.png?1538246490"
                                class="rounded-circle" style="width: 100%"></a><br>
                    <span class="badge badge-light">5. 8. 2018</span></div>
                <div class="col-md-11">
                    <h4>Filip Macek</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque arcu diaminibus lorem convallis
                    convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>